# Database
DATABASE_URL=postgresql://postgres:[PASSWORD]@db.YOUR-PROJECT-REF.supabase.co:5432/postgres

# OpenAI API
OPENAI_API_KEY=YOUR_OPENAI_API_KEY

# Backend
BACKEND_URL=http://localhost:8000

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:8000/api
